<ion-grid>
  <ion-row class="ion-justify-content-center ion-align-items-center ion-margin" [ngClass]="isPasscodeWrong ?  'shake' : ''">
    <ion-col size="12" class="ion-text-center passcode-row">
      <div class="circle" [ngClass]="enteredPasscode.length > 0 ? 'full' : ''"></div>
      <div class="circle" [ngClass]="enteredPasscode.length > 1 ? 'full' : ''"></div>
      <div class="circle" [ngClass]="enteredPasscode.length > 2 ? 'full' : ''"></div>
      <div class="circle" [ngClass]="enteredPasscode.length > 3 ? 'full' : ''"></div>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="4" class="digit" (click)="digit(1)">1</ion-col>
    <ion-col size="4" class="digit" (click)="digit(2)">2</ion-col>
    <ion-col size="4" class="digit" (click)="digit(3)">3</ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="4" class="digit" (click)="digit(4)">4</ion-col>
    <ion-col size="4" class="digit" (click)="digit(5)">5</ion-col>
    <ion-col size="4" class="digit" (click)="digit(6)">6</ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="4" class="digit" (click)="digit(7)">7</ion-col>
    <ion-col size="4" class="digit" (click)="digit(8)">8</ion-col>
    <ion-col size="4" class="digit" (click)="digit(9)">9</ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ng-container *ngIf="fingerprintEnabled else noFingerprint">
      <ion-col size="4" class="digit" (click)="verifyFingerprint()"><ion-icon name="finger-print-outline"></ion-icon></ion-col>
      <ion-col size="4" class="digit" (click)="digit(0)">0</ion-col>
      <ion-col size="4" class="digit" (click)="remove()"><ion-icon name="backspace-outline"></ion-icon></ion-col>
    </ng-container>
    <ng-template #noFingerprint>
      <ion-col size="4" offset="4" class="digit" (click)="digit(0)">0</ion-col>
      <ion-col size="4" class="digit" (click)="remove()"><ion-icon name="backspace-outline"></ion-icon></ion-col>
    </ng-template>
  </ion-row>
</ion-grid>